@import '../variables.css';

#icon-container {
    width: 100%;
}

#icon {
    display: inline;
    width: 18vmin;
    border-radius: 8%/8%;
    margin: 3px 3px;
    padding: 5px 5px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

#icon.disabled {
    filter: brightness(calc(var(--playerBrightnessFilter) + 20%));
    pointer-events: none;
}
